
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Mls.CityDistrictList.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new MLSSearch3.Mls.CityDistrictListGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>